body{
    background-color: black; 
}

h1{
    text-align: center;
    color: red;
    font-size: 40px;
}

p{
    justify-content: center;
    color :#00BFFF;
    font-size: 15px;
    text-align: justify;
    text-indent: 10px;
 
}

